/**
 * navigation view
 */

#nav-view {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: $top-nav-height;
	background-color: $c-black;

	.nav-container {
		text-align: right;
		padding: 10px 0 0 0;

		a {
			color: $c-white;
			margin-right: 14px;
			font-size: 16px;
			font-family: Arial, Helvetica;
		}
	}
}
